<app-menu></app-menu>
<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
</div>

<ng-template #loggedOut>
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-header">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="/login">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/registro">Crear Cuenta</a>
                    </li>
                </ul>

            </div>
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                    <div class="form-group">
                        <label for="usuario">Nombre de Usuario</label>
                        <input type="text" name="usuario" id="usuario" class="form-control"
                        [(ngModel)]="usuario" required>
                    </div>
                    <div class="form-group">
                        <label for="clave">Contraseña</label>
                        <input type="password" name="clave" id="clave" class="form-control"
                        [(ngModel)]="clave" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-success btn-block" [disabled]="!f.valid"><i class="fa-solid fa-arrow-right-to-bracket"></i> Iniciar Sesión</button>
                    </div>
                </form>
                <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">Fallo en el login: No autorizado</div>
            </div>
        </div>
    </div>
</ng-template>