<app-menu></app-menu>



  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Fecha y hora</th>
        <th scope="col">Motivo de la Cita</th>
        <th scope="col">Paciente</th>
        <th scope="col">Medico</th>
        <th scope="col">Diagnostico</th>
        <th scope="col">Ver</th>
        <th scope="col"  *ngIf="isAdmin">Editar</th>
        <th scope="col"  *ngIf="isAdmin">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of citas">
        <!-- <th scope="row">1</th> -->
        <td>{{cita.id}}</td>
        <td>{{cita.fechaHora | date:'dd-MM-yyyy HH:mm':'+0000'}}</td>
        <td>{{cita.motivoCita}}</td>
        <td>{{cita.paciente.nombre}} {{cita.paciente.apellidos}}</td>
        <td>{{cita.medico.nombre}} {{cita.medico.apellidos}}</td>
        <td>{{cita.diagnostico.enfermedad}}</td>
        <td><button class="btn btn-outline-primary" routerLink="/detalle/{{cita.id}}"><i class="fa-solid fa-eye"></i> Ver</button></td>
        <td  *ngIf="isAdmin"><button class="btn btn-outline-warning" routerLink="/editar/{{cita.id}}"><i class="fa-solid fa-pen-to-square"></i> Editar</button></td>
        <td  *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="borrar(cita.id)"><i class="fa-solid fa-trash"></i> Eliminar</button></td>
      </tr>
<!--       <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table>

<div class="container" *ngIf="isAdmin">
    <div class="col-md-12 text-center">
        <button class="btn btn-outline-success btn-lg" routerLink="/nueva"><i class="fa-solid fa-square-plus"></i> Nueva Cita</button>
    </div>
</div>
