<app-menu></app-menu>
<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
</div>

<ng-template #loggedOut>
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-header">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/login">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="/registro">Crear Cuenta</a>
                    </li>
                </ul>

            </div>
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" class="form-control"
                        [(ngModel)]="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" name="apellidos" id="apellidos" class="form-control"
                        [(ngModel)]="apellidos" required>
                    </div>
                    <div class="form-group">
                        <label for="usuario">Usuario</label>
                        <input type="text" name="usuario" id="usuario" class="form-control"
                        [(ngModel)]="usuario" required>
                    </div>
                    <div class="form-group">
                        <label for="clave">Contraseña</label>
                        <input type="password" name="clave" id="clave" class="form-control"
                        [(ngModel)]="clave" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-success btn-block" [disabled]="!f.valid"><i class="fa-solid fa-folder-plus"></i> Crear Cuenta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>