<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-link" routerLink="/"><i class="fa-solid fa-list"></i> Lista</a>
          <a class="nav-link" routerLink="/nueva"><i class="fa-solid fa-square-plus"></i> Nueva Cita</a>
        </div>
      </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
<!--     <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto"> 
        <li class="nav-item">
          <a class="nav-link" routerLink="/"><i class="fa-solid fa-house-chimney"></i> Inicio</a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/lista"><i class="far fa-list-alt"></i> Lista</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/nueva"><i class="far fa-list-alt"></i> Nueva Cita</a>
        </li> -->
        <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link"  routerLink="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Iniciar Sesión</a>
        </li>
        <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
            <a class="nav-link" style="cursor: pointer"><i class="fa-solid fa-door-open"></i> Cerrar Sesión</a>
        </li>
        
      </ul>
    </div>
  </nav>
  