<app-menu></app-menu>
<div class="container" *ngIf="cita">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="motivoCita">Motivo de la Cita</label>
                    <input type="text" class="form-control" id="motivoCita" name="motivoCita"
                    [(ngModel)]="cita.motivoCita" required>
                </div>

                <div class="form-group">
                    <label for="fechaHora">Fecha y hora de la Cita</label>
                    <input type="datetime-local" class="form-control" id="fechaHora" name="fechaHora"
                    [(ngModel)]="cita.fechaHora" required>
                </div>

                <div class="form-group">
                    <label for="idPaciente">Id Paciente</label>
                    <input type="number" class="form-control" id="idPaciente" name="idPaciente"
                    [(ngModel)]="idPaciente" required>
                </div>

                <div class="form-group">
                    <label for="idMedico">Id Médico</label>
                    <input type="number" class="form-control" id="idMedico" name="idMedico"
                    [(ngModel)]="idMedico" required>
                </div>

                <div class="form-group">
                    <label for="idDiagnostico">Id Diagnóstico</label>
                    <input type="number" class="form-control" id="idDiagnostico" name="idDiagnostico"
                    [(ngModel)]="idDiagnostico" required>
                </div>

                

                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid"><i class="fa-solid fa-pencil"></i> Actualizar</button>

                <button class="btn btn-outline-primary btn-block" routerLink="/lista"><i class="fa-solid fa-backward"></i> Volver</button>


            </form>
        </div>
    </div>
</div>
