<app-menu></app-menu>

<div class="container text-center">
    <div *ngIf="isLogged; else loggedOut"><h2>Bienvenido {{usuario}}</h2></div>
    <ng-template #loggedOut><h2>No ha iniciado sesión</h2></ng-template>
</div>