<app-menu></app-menu>
<div class="container">
    <div class="row mt-5" *ngIf="cita">
        <div class="col-md-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center">
                  Detalles
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>ID: </b>{{cita.id}}</li>
                  <li class="list-group-item"><b>Fecha y Hora de la Cita: </b>{{cita.fechaHora | date:'dd-MM-yyyy HH:mm':'+0000'}}</li>
                  <li class="list-group-item"><b>Motivo de la Cita: </b>{{cita.motivoCita}}</li>
                  <li class="list-group-item"><b>Paciente: </b>{{cita.paciente.nombre}} {{cita.paciente.apellidos}}</li>
                  <li class="list-group-item"><b>Médico: </b>{{cita.medico.nombre}} {{cita.medico.apellidos}}</li>
                  <li class="list-group-item"><b>Diagnóstico: </b>{{cita.diagnostico.enfermedad}}</li>
                </ul>
                <div class="card-footer">
                    <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fa-solid fa-backward"></i> Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>